$nav-bar-color : rgb(36, 48, 155);
$login-color : rgb(68, 60, 60);

@media only screen and (min-device-width : 1024px){
    .next, .prev{
        top : 50%;
        left : 80%
    }

    .slideshow-container{
        height: 750px;
    }

    #summer-img{
        height: 750px;
    }
    #winter-img{
        height: 750px;
    }
    #autumn-img{
        height: 750px;
    }

    #offers{
        display: grid;
        grid-template-columns: repeat(4, 230px);
        grid-template-rows: auto;
        gap: 1.5%;
        align-items: center;
        background-color: $nav-bar-color;
        width: 100%;
        text-align: left;
        justify-content: center;
    }

    .offers-city img{
        height: 50%;
        width: 100%;
    }

    #offers-with-title{
        background-color: $nav-bar-color;
        width: 100%;
        height: auto;
     }

    .offers-city{
        height : 23rem;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #offers-title{
        justify-content: center;
    }

     
    .offers-booking{
        font-size: 2rem;
    }

    #regular-plus-premium-description-content-tablet{
        font-size: 1.5rem;
    }
}