$nav-bar-color : rgb(36, 48, 155);
$login-color : rgb(68, 60, 60);

@media only screen and (min-device-width : 1024px){
    .next, .prev{
        top : 50%;
        left : 80%
    }

    .slideshow-container{
        height: 750px;
    }

    #summer-img{
        height: 750px;
    }
    #winter-img{
        height: 750px;
    }
    #autumn-img{
        height: 750px;
    }

    #offers{
        display: grid;
        grid-template-columns: repeat(4, 230px);
        grid-template-rows: auto;
        gap: 1.5%;
        align-items: center;
        background-color: $nav-bar-color;
        width: 100%;
        text-align: left;
        justify-content: center;
    }

    .offers-city img{
        height: 50%;
        width: 100%;
    }

    #offers-with-title{
        background-color: $nav-bar-color;
        width: 100%;
        height: auto;
     }

    .offers-city{
        height : 23rem;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #offers-title{
        justify-content: center;
    }

     
    .offers-booking{
        font-size: 2rem;
    }

    #regular-plus-premium-description-content-tablet{
        font-size: 1.5rem;
    }

    #subscribe-and-terms{
        height : auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }

    #subscribe{
        background-color: #012f9e;
        display: flex;
        flex-direction: row;
        width: 100%;
        height : 100%;
        justify-content: left;
        align-items: center;
        margin : 0 auto;
        padding : 0;
        font-size: 1rem;
    }

    #following{
        font-size: 1rem;
        display: flex;
        background-color: #012f9e;
        flex-direction: row;
        height : 100%;
        justify-content: flex-end;
        align-items: center;
        right: 0;
    }

    #follow-us{
        color : white;
        font-size: 1.5rem;
        margin : 0;
        padding : 0;
    }

    #social-network-white{
        display: none;
    }

    #social-network-blue{
        display: block;
        width : 200px;
        height : 50px;
        margin-right: 50px;

    }

    #subscribe-text{
        font-size: 1.3rem;
        margin-top: 0;
        padding: 0;
        margin-left: 50px;
    }

    #subscribe-field{
        font-size: 1rem;
        margin-top: 0;
        background-color: #012f9e;
    }

    #email{
        width: 100%;
        outline : none;
        border : none;
        border-bottom: 3px solid white;
        height: 2rem;
        font-size: 1rem;
        padding: 0;
        margin-left: 50px;
        background-color: #012f9e;

    }

    #email::placeholder{
        color :rgb(120, 95, 189);
    }

    #subscribe-send{
        font-size: 1rem;
        margin-top: 0;
    }

    #subscribe-send-button{
        font-size: 1.5rem;
        height: 2rem;
        width: 8rem;
        margin : 0;
        color : white;
        background-color: #012f9e;
        outline : none;
        border : none;
        border-bottom: 3px solid white;
        text-align: right;
    }

    .method-of-payment{
        width: 30%;
        height : 80%;
        margin-left: 50px;

    }

    #payment{
        width: 100%;
        height : 100%;
        display : flex;
        justify-content: left;
        align-items: center;
        margin : 0 auto;
        padding : 0;
        font-size: 1rem;
    }

    #terms-map{
        width: 100%;
        height : 100%;
        display : flex;
        justify-content:flex-end;
        align-items: center;
        margin : 0;
        padding : 0;
        font-size: 1.3rem;
        margin-right: 50px;
    }

    #terms-map div{
        margin-right: 50px;

    }

    footer{
        border-bottom: 15px solid lightblue;
        height : auto;
    }

}