$nav-bar-color : rgb(36, 48, 155);
$login-color : rgb(68, 60, 60);

@media only screen and (min-device-width : 1024px){
    .next, .prev{
        top : 50%;
        left : 80%
    }

    .slideshow-container{
        height: 750px;
    }

    #summer-img{
        height: 750px;
    }
    #winter-img{
        height: 750px;
    }
    #autumn-img{
        height: 750px;
    }

    #offers{
        display: grid;
        grid-template-columns: repeat(4, 230px);
        grid-template-rows: auto;
        gap: 1.5%;
        align-items: center;
        background-color: $nav-bar-color;
        width: 100%;
        text-align: left;
        justify-content: center;
    }

    .offers-city img{
        height: 50%;
        width: 100%;
    }

    #offers-with-title{
        background-color: $nav-bar-color;
        width: 100%;
        height: auto;
     }

    .offers-city{
        height : 23rem;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #offers-title{
        justify-content: center;
    }

     
    .offers-booking{
        font-size: 2rem;
    }

    #regular-plus-premium-description-content-tablet{
        font-size: 1.5rem;
    }

    #subscribe-and-terms{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }

    #subscribe{
        background-color: #012f9e;
        display: flex;
        flex-direction: row;
    }

    #following{
        display: flex;
        background-color: #012f9e;
        flex-direction: row;
    }

    #social-network-white{
        display: none;
    }

    #social-network-blue{
        display: block;
    }

    #subscribe-text{
        font-size: 0.3rem;
    }

    #payment{
        justify-content: left;
        justify-items: left;
        height: auto;
    }

    #terms-map{
        font-size: 1rem;
        justify-content: right;
        justify-items: right;
        height: auto;
    }

    footer{
        height: 300px;
        border-bottom: 15px solid lightblue;
    }
}