.nav-bar {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #24309b;
  font-size: 2.4rem;
  font-weight: bolder;
}

.nav a {
  color: #24309b;
  text-decoration: none;
  margin-left: 60px;
  font-weight: 900;
}

#globe-img {
  width: 230px;
  height: 170px;
}

#eng-img {
  width: 90px;
  height: 50px;
  margin-top: 10px;
}

#pound {
  width: 50px;
  height: 50px;
  font-size: 35px;
  text-align: center;
  margin-top: 15px;
}

#tablet-pound {
  display: none;
}

#login {
  text-align: center;
  margin-bottom: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #443c3c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#line {
  color: gray;
  opacity: 0.7;
  margin-left: 25px;
  margin-right: 25px;
}

.links {
  width: 100%;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 83%;
  left: 80%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: 900;
  font-size: 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
  border: 2px solid white;
  background: #9c9595;
  opacity: 0.4;
}

.next {
  margin-left: 100px;
}

#book-now {
  font-size: 3.7rem;
  position: absolute;
  color: white;
  background-color: #4153a5;
  width: 35%;
  top: 70%;
  left: 5%;
  opacity: 1;
  outline: none;
  border: none;
}

.description {
  height: 100%;
  width: 20%;
  font-size: 3.7rem;
  color: white;
  position: absolute;
  top: 5%;
  left: 5%;
  font-weight: 900;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

#quote {
  color: gray;
  font-size: 30;
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
}

#marketing-quote {
  margin-bottom: 30px;
  margin-top: 30px;
  color: #24309b;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#travel-features {
  display: -ms-grid;
  display: grid;
  margin: 70px;
}

.images-features {
  border: 1px solid gray;
  border-radius: 50%;
  text-align: center;
  margin: 30px;
  padding: 25px;
  margin-top: 40px;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 400px;
  width: 100%;
  color: #24309b;
  font-size: 3rem;
  margin: 0;
}

#offers-with-title {
  background-color: #24309b;
  width: 100%;
  height: auto;
}

#offers-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 5rem;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 69px;
}

#offers {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #24309b;
  width: 100%;
  padding-bottom: 30px;
}

.offers-city {
  background-color: white;
  height: 70rem;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.offers-city img {
  height: 50%;
  width: 100%;
}

.offers-description {
  margin: 15px;
  margin-left: 4rem;
  margin-top: 3rem;
}

.offers-name {
  margin: 0;
  color: #24309b;
  font-weight: bolder;
  font-size: 5rem;
}

.offers-price {
  margin-top: 0;
  margin-bottom: 7rem;
  font-size: 5.3rem;
}

.offers-booking {
  margin-top: 5rem;
  text-decoration: none;
  font-weight: bolder;
  color: #24309b;
  font-size: 5.5rem;
}

@media only screen and (min-device-width: 768px) {
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6em;
    text-align: left;
  }
  #line {
    margin-top: 25px;
    margin-right: 15px;
  }
  #eng-img {
    width: 50px;
    height: 30px;
  }
  #pound {
    width: 30px;
    height: 30px;
    display: none;
  }
  #tablet-pound {
    display: inline-block;
    margin-top: 15px;
    width: 100px;
    text-align: left;
  }
  .nav-bar {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    color: #24309b;
    font-size: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 170px;
    width: 100%;
  }
  .nav a {
    color: #24309b;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 0;
  }
  .next, .prev {
    top: 50%;
    left: 80%;
  }
  #marketing-quote {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #login {
    width: 350px;
    margin-left: auto;
    text-align: center;
    margin-bottom: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #443c3c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #login-text {
    margin-top: 15px;
  }
  #travel-features {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .images-features {
    border: 1px solid gray;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    margin: 30px;
    margin-top: 40px;
  }
  .articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 250px;
    width: 100%;
    color: #24309b;
    font-size: 1.3rem;
    margin: 0;
  }
  #offers {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #24309b;
    width: 100%;
    padding-bottom: 30px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  #offers-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: white;
    font-size: 2rem;
    text-align: left;
    padding: 49px;
  }
  .offers-description {
    margin: 15px;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .offers-city {
    height: 30rem;
  }
  .offers-city img {
    height: 60%;
    width: 100%;
  }
  .offers-name {
    margin: 0;
    color: #24309b;
    font-weight: bolder;
    font-size: 2rem;
  }
  .offers-price {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.2rem;
  }
  .offers-booking {
    margin-top: 5rem;
    text-decoration: none;
    font-weight: bolder;
    color: #24309b;
    font-size: 2.5rem;
  }
}

@media only screen and (min-device-width: 1024px) {
  .next, .prev {
    top: 50%;
    left: 80%;
  }
  .slideshow-container {
    height: 750px;
  }
  #summer-img {
    height: 750px;
  }
  #winter-img {
    height: 750px;
  }
  #autumn-img {
    height: 750px;
  }
  #offers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (230px)[4];
        grid-template-columns: repeat(4, 230px);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 1.5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #24309b;
    width: 100%;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offers-city img {
    height: 50%;
    width: 100%;
  }
  #offers-with-title {
    background-color: #24309b;
    width: 100%;
    height: auto;
  }
  .offers-city {
    height: 23rem;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #offers-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offers-booking {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */