$nav-bar-color : rgb(36, 48, 155);
$login-color : rgb(68, 60, 60);

.nav-bar{
    width : 100%;
    height : auto;
    display : flex;
    flex-direction: row;
}

.nav{
    display : flex;
    flex-direction: column;
    color: $nav-bar-color;
    font-size: 2.4rem;
    font-weight: bolder;


    a {
        color: $nav-bar-color;
        text-decoration: none;
        margin-left: 60px;
        font-weight: 900;
    }
}

#globe-img{
    width: 230px;
    height : 160px;
}

#eng-img{
    width: 90px;
    height: 50px;
    margin-top: 10px;
}

#pound-img{
    width : 50px;
    height: 50px;
    margin-top: 10px;
}


#login {
    text-align: center;
    margin-bottom: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: $login-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#line{
    color : gray;
    opacity : 0.7;
    margin-left: 25px;
    margin-right: 25px;
}

.links{
    width: 100%;
    height : auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


