$nav-bar-color : rgb(36, 48, 155);
$login-color : rgb(68, 60, 60);

.nav-bar{
    width : 100%;
    height : auto;
    display : flex;
    flex-direction: row;
}

.nav{
    display : flex;
    flex-direction: column;
    color: $nav-bar-color;
    font-size: 2rem;
    font-weight: bolder;


    a {
        color: $nav-bar-color;
        text-decoration: none;
        margin-left: 50px;
    }
}

#globe-img{
    width: 200px;
    height : 200px;
}

#eng-img{
    margin-left: 5rem;
    width: 50px;
    height: 50px;
}

#pound-img{
    width : 30px;
    height: 30px;
}

#login {
    margin-bottom: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: $login-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
}

.links{
    width: 100%;
    height : auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


