$nav-bar-color : rgb(36, 48, 155);
$login-color : rgb(68, 60, 60);

.nav-bar{
    width : 100%;
    height : auto;
    display : flex;
    flex-direction: row;
}

.nav{
    display : flex;
    flex-direction: column;
    color: $nav-bar-color;
    font-size: 2.4rem;
    font-weight: bolder;


    a {
        color: $nav-bar-color;
        text-decoration: none;
        margin-left: 60px;
        font-weight: 900;
    }
}

#globe-img{
    width: 230px;
    height : 170px;
}

#eng-img{
    width: 90px;
    height: 50px;
    margin-top: 10px;
}

#pound{
    width : 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
}


#tablet-pound{
    display: none;
}

#login {
    text-align: center;
    margin-bottom: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: $login-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#line{
    color : gray;
    opacity : 0.7;
    margin-left: 25px;
    margin-right: 25px;
}

.links{
    width: 100%;
    height : auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slideshow-container{
    position: relative;
    margin: auto;
}

.mySlides{
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 83%;
    left : 80%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: 900;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    opacity: 1;
    border : 2px solid white;
    background: rgb(156, 149, 149);
    opacity: 0.4;
  }

  .next{
      margin-left: 100px;
  }

  #book-now{
      font-size: 3.7rem;
      position: absolute;
      color :white;
      background-color: rgb(65, 83, 165);
      width: 35%;
      top: 70%;
      left : 5%;
      opacity: 1;
      outline: none;
      border: none;
  }

  .description {
      height: 100%;
      width: 20%;
      font-size : 3.7rem;
      color : white;
      position: absolute;
      top : 5%; 
      left : 5%;
      font-weight: 900;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  #quote{
      color : gray;
      font-size: 30;
      text-align: center;
      margin-top: 40px;
      text-transform: uppercase;
  }

  #marketing-quote{
      margin-bottom: 30px;
      margin-top: 30px;
      color: $nav-bar-color;
      font-size: 60px;
      font-weight: bolder;
      text-align: center;
      word-wrap: break-word;
      overflow-wrap: break-word;
  }

  #travel-features{
      display: grid;
      margin : 70px;
  }

  .images-features{
      border: 1px solid gray;
      border-radius: 50%;
      text-align: center;
      margin: 30px;
      padding: 25px;
      margin-top: 40px;
  }

  .articles{
      display: flex;
      flex-direction: row;
      height: 400px;
      width: 100%;
      color: $nav-bar-color;
      font-size: 3rem;
      margin: 0;
  }


  #offers-with-title{
    background-color: $nav-bar-color;
    width: 100%;
    height: auto;
 }

 #offers-title{
     display: flex;
     flex-direction: column;
     color : white;
     font-size: 5rem;
     text-align: center;
     word-wrap: break-word;
     overflow-wrap: break-word;
     padding: 69px;
 }


  #offers{
    display: grid;
    align-items: center;
    background-color: $nav-bar-color;
    width: 100%;
    padding-bottom: 30px;
}


.offers-city{
    background-color: white;
    height: 70rem;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.offers-city img{
    height: 50%;
    width: 100%;
}

.offers-description{
    margin: 15px;
    margin-left: 4rem;
    margin-top: 3rem;
}

.offers-name{
    margin: 0;
    color: $nav-bar-color;
    font-weight:bolder;
    font-size: 5rem;
}

.offers-price{
    margin-top: 0;
    margin-bottom: 7rem;
    font-size: 5.3rem;
}

.offers-booking{
    margin-top: 5rem;
    text-decoration: none;
    font-weight: bolder;
    color:$nav-bar-color;
    font-size: 5.5rem;   
}

#inspire-quote{
    text-align : center;
    color : $nav-bar-color;
    font-size: 4rem;
}

#inspire-quote-paragraph{
    font-weight: bolder;
    text-decoration: underline dashed $nav-bar-color 10px;
    text-decoration-thickness: 20%;
    text-align: center;
    text-underline-position: under;
}

.card{
    border-top: 30px solid blue;
    width: 90%;
    background-color: white;
    margin-left: 5%;
    margin-top: 80px;
    height: 70rem;
}

.card-image{
    text-align: center;
}

.card-image img{
    margin-top: 5%;
    width: 300px;
    height: 300px;
}

.card-type{
    text-align: center;
    color: $nav-bar-color;
    font-weight: bolder;
    font-size: 4rem;
}

.ticked{
    color: $nav-bar-color;
}

.tick{
    font-weight: bolder;
    color:  $nav-bar-color;

}

.dolar{
    color: rgb(199, 195, 181);
    opacity: 0.8;
}

.feature{
    font-size : 2.5rem;
    margin-bottom: 10%;
    margin-left: 10%;
    font-weight: bolder;
}

#regular-plus-premium{
    background-color:rgb(19, 19, 107);
    width: 100%;
}

#regular-plus-premium-description{

    padding: 5rem;

}
#regular-plus-premium-description-title{
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

#regular-plus-premium-description-header{
    color:rgb(0, 162, 255);
    font-size: 7rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}

#regular-plus-premium-description-content-mobile{
    color:white;
    font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}

#regular-plus-premium-description-content-tablet{
    display : none;
}


#regular-plus-premium-description-footer{
    color:rgb(0, 162, 255);
    font-size: 1rem;
    text-align: center;
    text-decoration: underline dashed rgb(0, 162, 255) 10px;
    text-decoration-thickness: 20%;
    text-align: center;
    text-underline-position: under;
}

#card-navbar-tablet{
    display: none;
}