$nav-bar-color : rgb(39, 23, 112);

.nav-bar{
    width : 100%;
    height : auto;

}

.nav{
    word-wrap: normal;
    display : flex;
    float : right;
    color: $nav-bar-color;
    font-size: 3rem;
    text-align: center;  
    font-weight: bolder;

    a {
        text-decoration: none;
        margin-left: 30px;
    }
}

#globe-img{
    width: 200px;
    height : 200px;
}

#login {
    position: absolute;
}
