$nav-bar-color : rgb(36, 48, 155);
$login-color : rgb(68, 60, 60);

@media only screen and (min-device-width : 768px){
    .links{
        display: flex;
        justify-content: left;
        align-items: center;
        height : auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.6em;
        text-align: left;
    }

    #line {
        margin-top: 25px;
        margin-right: 15px;
    }


    #eng-img{
        width: 50px;
        height: 30px;
    }

    #pound{
        width : 30px;
        height: 30px;
        display: none;
    }

    #tablet-pound{
        display: inline-block;
        margin-top: 15px;
        width : 100px;
        text-align: left;
    }

    .nav-bar{
        width : 100%;
        height : auto;
        display : flex;
        flex-direction: row;
    }

    .nav{
        display : flex;
        flex-direction: row-reverse;
        color: $nav-bar-color;
        font-size: 2rem;
        justify-content: center;
        height : 170px;
        width: 100%;

        a {
            color: $nav-bar-color;
            text-decoration: none;
            margin-right: 30px;
            margin-left: 0;
        }
    }

    .next, .prev{
        top : 50%;
        left : 80%;
    }
    
    #marketing-quote{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 50px;
        justify-content: center;
    }

    #login {
        width : 350px;
        margin-left: auto;
        text-align: center;
        margin-bottom: 1em;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: $login-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    #login-text{    
        margin-top: 15px;

    }

    #travel-features{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .images-features{
        border: 1px solid gray;
        border-radius: 50%;
        text-align: center;
        margin: 30px;
        padding: 10px;
        margin-top: 40px;
    }
  
    .articles{
        display: flex;
        flex-direction: row;
        height: 400px;
        width: 100%;
        color: $nav-bar-color;
        font-size: 1.5rem;
        margin: 0;
    }
}