$nav-bar-color : rgb(36, 48, 155);
$login-color : rgb(68, 60, 60);

@media only screen and (min-device-width : 768px){
    .links{
        display: flex;
        justify-content: left;
        align-items: center;
        height : auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.6em;
        text-align: left;
    }

    #line {
        margin-top: 25px;
        margin-right: 15px;
    }


    #eng-img{
        width: 50px;
        height: 30px;
    }

    #pound{
        width : 30px;
        height: 30px;
        display: none;
    }

    #tablet-pound{
        display: inline-block;
        margin-top: 15px;
        width : 100px;
        text-align: left;
    }

    .nav-bar{
        width : 100%;
        height : auto;
        display : flex;
        flex-direction: row;
    }

    .nav{
        display : flex;
        flex-direction: row-reverse;
        color: $nav-bar-color;
        font-size: 2rem;
        justify-content: center;
        height : 170px;
        width: 100%;

        a {
            color: $nav-bar-color;
            text-decoration: none;
            margin-right: 30px;
            margin-left: 0;
        }
    }

    .next, .prev{
        top : 50%;
        left : 80%;
    }
    
    #marketing-quote{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 50px;
        justify-content: center;
    }

    #login {
        width : 350px;
        margin-left: auto;
        text-align: center;
        margin-bottom: 1em;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: $login-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    #login-text{    
        margin-top: 15px;

    }

    #travel-features{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .images-features{
        border: 1px solid gray;
        border-radius: 50%;
        text-align: center;
        padding: 5px;
        margin: 30px;
        margin-top: 40px;
    }
  
    .articles{
        display: flex;
        flex-direction: row;
        height: 250px;
        width: 100%;
        color: $nav-bar-color;
        font-size: 1.3rem;
        margin: 0;
    }

    #offers{
        display: grid;
        align-items: center;
        background-color: $nav-bar-color;
        width: 100%;
        padding-bottom: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #offers-title{
        display: flex;
        flex-direction: row;
        color : white;
        font-size: 2rem;
        text-align: left;
        padding: 49px;
    }

    .offers-description{
        margin: 15px;
        margin-left: 2rem;
        margin-top: 1rem;
    }

    .offers-city{
        height : 30rem;
    }

    .offers-city img{
        height: 60%;
        width: 100%;
    }
    
    .offers-name{
        margin: 0;
        color: $nav-bar-color;
        font-weight:bolder;
        font-size: 2rem;
    }
    
    .offers-price{
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 2.2rem;
    }

    .offers-booking{
        margin-top: 5rem;
        text-decoration: none;
        font-weight: bolder;
        color:$nav-bar-color;
        font-size: 2.5rem;   
    }

    #inspire-quote{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color : $nav-bar-color;
        font-size: 2.5rem;
    }
    
    #inspire-quote-paragraph{
        font-weight: bolder;
        text-decoration: underline dashed $nav-bar-color 10px;
        text-decoration-thickness: 20%;
        text-align: center;
        text-underline-position: under;
    }

    #regular-plus-premium-description-content-mobile{
        display : none;
    }

    #regular-plus-premium-description-content-tablet{
        display: block;
        color:white;
        font-size: 0.9rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
    }

    #regular-plus-premium-description-footer{
        float: right;
        margin: 0;
        color:rgb(0, 162, 255);
        font-size: 1.6rem;
        text-align: center;
        text-decoration: underline dashed rgb(0, 162, 255) 10px;
        text-decoration-thickness: 20%;
        text-align: center;
        text-underline-position: under;
    }

    #regular-plus-premium-description-header{
        font-size: 3.5rem;
    }

    #card-plus{
        display: none;
    }

    #card-premium{
        display: none;
    }

    #card-navbar-tablet{
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        background-color: white;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        height: 3.3rem;
        
    }

    #card-navbar-tablet span{
        color: gray;
        width: 33.33%;
        height: 100%;
        text-align: center;
    }

    .card{
        display: flex;
        flex-direction: row;
        border: none;
        height: 15rem;
        margin-top: 0;

    }

    .card-image img{
        height: 170px;
        width: 170px;
        margin-left: 40%;
        margin-top: 15%;
    }

    .card-type{
        display: none;
    }

    .feature{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 7%;
        margin-left: 10%;
        width: 70%;
    }

    .ticked{
        font-size: 1.3rem;
    }

    .dolar{
        font-size: 1.3rem;
    
    }

    .feature-dolar{
        margin-left: 20%;
    }

    #regular-plus-premium{
        padding-bottom: 7%;
    }

    #card-navbar-regular{
        color : $nav-bar-color;
        border-top: 3px solid blue;
        
    }

    #card-navbar-plus{
        background-color: lightgray;
    }   

    #card-navbar-premium{
        background-color: lightgray;
    }

}